.cards {
  padding: 20px 0 40px 0;
}

.cards__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  justify-content: center;
}

.card {
  max-width: 413px;
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  margin: 12px 0 0;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
}

.card__button {
  background-color: #fcf5e5;
  border: none;
  width: 23px;
  height: 20px;
  opacity: 0.4;
  transition: opacity 0.5s ease;
}

.card__button:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .cards__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 288px;
  }

  .card__image {
    width: 100%;
  }
}
