.header {
  border-bottom: 1px solid #212121;
  background-color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.header__logo {
  width: 94px;
  height: 26px;
}

/*
.header__avatar-section {
}

.header__image {
}

.header__rectangle {
}

.header__description {
  display: flex;
}

.header__title {
}

.header__subtitle {
}

.header__secondary-icon {
}

.header__secondary-button {
}

.header__large-icon {
}

.header__large-button {
}
*/
